@import "tailwindcss";

@theme {
  --font-display: var(--font-oswald);
  --font-body: var(--font-roboto);
  
  --color-gold-400: #FBBF24;
  --color-gold-500: #F59E0B;
  --color-gold-600: #D97706;
}

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
